<table class="table table-hover m-1 h-100">
  <thead>
    <tr class="table-success">
      <th scope="col">#</th>
      <th scope="col">CMS CWF Disposition Code</th>
      <th scope="col">CMS CWF Disposition Date</th>
      <th scope="col">CMS Error Codes</th>
      <th scope="col">PH File Sent Effective Date</th>
      <th scope="col">Beneficiary State Code</th>
      <th scope="col">COBA ID#</th>
      <th scope="col">File Update Indicator</th>
      <th scope="col">Beneficiary Surname</th>
      <th scope="col">Beneficiary First</th>
      <th scope="col">Beneficiary Middle Lnitial</th>
      <th scope="col">Beneficiary Birth Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="table-success" scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th class="table-success" scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th class="table-success" scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Larry the Bird</td>
    </tr>
  </tbody>
</table>

<pagination
  [boundaryLinks]="true"
  [totalItems]="500"
  [maxSize]="10"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;"
>
</pagination>
