<div class="container">
  <div class="row">
    <form #userForm="ngForm" (ngSubmit)="login()">
      <div class="col-12">
        <div class="mb-3">
          <label for="Email" class="col-sm-2 col-form-label"
            >Email<span class="text-danger">*</span></label
          >
          <div class="col-sm-10">
            <input
              #userEmail="ngModel"
              required
              email
              name="email"
              class="form-control w-100"
              [(ngModel)]="user.email"
              type="email"
              id="Email"
            />
            <span
              class="text-danger"
              *ngIf="userForm.dirty && userEmail.errors?.['required']"
              >please enter email</span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Password" class="col-sm-2 col-form-label"
            >Password<span class="text-danger">*</span></label
          >
          <div class="col-sm-10">
            <input
              #userPassword="ngModel"
              name="password"
              class="form-control"
              required
              [(ngModel)]="user.password"
              type="password"
              id="Password"
            />
            <span
              class="text-danger"
              *ngIf="userForm.dirty && userPassword.errors?.['required']"
              >please enter password</span
            >
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">
          <button
            [disabled]="userForm.invalid"
            class="btn btn-primary w-100"
            type="submit"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
