<div class="container">
  <div class="row">
    <div *ngIf="message" class="col-12 alert alert-success mt-3">
      {{ message }}
    </div>
    <form (ngSubmit)="addProduct()">
      <div class="col-12">
        <div class="mb-3">
          <label for="Title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input
              name="title"
              [(ngModel)]="product.title"
              type="text"
              class="form-control"
              id="Title"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input
              name="price"
              [(ngModel)]="product.price"
              type="number"
              class="form-control"
              id="Price"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Price" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input
              name="description"
              [(ngModel)]="product.description"
              type="text"
              class="form-control"
              id="Price"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Image" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10">
            <input
              name="image"
              [(ngModel)]="product.image"
              type="text"
              class="form-control"
              id="Image"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Category" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <input
              name="category"
              [(ngModel)]="product.category"
              type="text"
              class="form-control"
              id="Category"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">
          <button class="btn btn-primary w-100" type="submit">SUBMIT</button>
        </div>
      </div>
    </form>
    <div *ngIf="responseData" class="col-12 col-md-4 col-xl-3 g-3 mb-3">
      <div class="bg-light rounded-3 shadow-lg p-3 h-100">
        <a
          class="text-decoration-none text-dark"
          [routerLink]="['/products', responseData.id]"
        >
          <div>
            <img
              src="{{ responseData.image }}"
              class="h-25 w-25 border-3"
              alt="{{ responseData.id }}"
            />
          </div>
          <h6>{{ responseData.title }}</h6>
          <p>Rs. {{ responseData.price }}/-</p>
          <p>rating: {{ responseData.rating?.rate }}</p>
          <p>Total rate count: {{ responseData.rating?.count }}</p>
          <p>category: {{ responseData.category }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
