<div class="container">
  <div class="row">
    <div>
      pristine: {{ productForm.pristine | json }}, dirty:
      {{ productForm.dirty | json }}, valid:{{ productForm.valid | json }},
      INvalid:{{ productForm.invalid | json }}, value:
      {{ productForm.value | json }},
    </div>
    <div *ngIf="message" class="col-12 alert alert-success mt-3">
      {{ message }}
    </div>
    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
      <div class="col-12">
        <div class="mb-3">
          <label for="Title" class="col-sm-2 col-form-label"
            >Title<span class="text-danger">*</span></label
          >
          <div class="col-sm-10">
            <input
              #productTitle="ngModel"
              required
              name="title"
              class="form-control"
              [(ngModel)]="product.title"
              type="text"
              id="Title"
            />
            <span
              class="text-danger"
              *ngIf="productForm.dirty &&productTitle.errors?.['required']"
              >please enter title</span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Price" class="col-sm-2 col-form-label"
            >Price<span class="text-danger">*</span></label
          >
          <div class="col-sm-10">
            <input
              #productPrice="ngModel"
              name="price"
              class="form-control"
              required
              max="7"
              min="3"
              [(ngModel)]="product.price"
              type="number"
              id="Price"
            />
            <span
              class="text-danger"
              *ngIf="productForm.dirty && productPrice.errors?.['required']"
              >please enter price</span
            >
            <span
              class="text-danger"
              *ngIf="productForm.dirty && productPrice.errors?.['max']"
              >please enter max 7 RS</span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Description" class="col-sm-2 col-form-label"
            >Description<span class="text-danger">*</span></label
          >
          <div class="col-sm-10">
            <input
              #productDescription="ngModel"
              name="description"
              required
              [(ngModel)]="product.description"
              type="text"
              class="form-control"
              id="Description"
            />
            <span
              class="text-danger"
              *ngIf="productForm.dirty &&productDescription.errors?.['required']"
              >please enter description</span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Image" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10">
            <input
              name="image"
              [(ngModel)]="product.image"
              type="text"
              class="form-control"
              id="Image"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <label for="Category" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <input
              name="category"
              [(ngModel)]="product.category"
              type="text"
              class="form-control"
              id="Category"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="mb-3">
          <button
            [disabled]="productForm.invalid"
            class="btn btn-primary w-100"
            type="submit"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="responseData.title" class="col-12 col-md-4 col-xl-3 g-3 mb-3">
      <div class="bg-light rounded-3 shadow-lg p-3 h-100">
        <div class="text-decoration-none text-dark">
          <div>
            <img
              src="{{ responseData.image }}"
              class="h-50 w-50 border-3"
              alt="{{ responseData.id }}"
            />
          </div>
          <h6>{{ responseData.title }}</h6>
          <p>Rs. {{ responseData.price }}/-</p>
          <p>rating: {{ responseData.rating?.rate }}</p>
          <p>Total rate count: {{ responseData.rating?.count }}</p>
          <p>category: {{ responseData.category }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
